<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../resources/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../resources/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../resources/favicon-16x16.png"
    />
    <link rel="manifest" href="../../resources/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../../resources/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="../../resources/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-config"
      content="../../resources/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Discount System</title>
  </head>

  <body>
    <body>
      <nav
        class="navbar navbar-expand-lg bg-body-tertiary myBg-light fixed-top shadow"
      >
        <div class="container">
          <a class="navbar-brand me-5" th:href="@{/home}">
            <div class="d-flex">
              <span class="myLink fw-bold fs-3 mt-2">Miniso</span>
            </div>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
              <li class="nav-item mx-3">
                <a
                  class="myLink active"
                  aria-current="page"
                  th:href="@{/daily-entry}"
                  >Daily Sales Entry</a
                >
              </li>
              <li class="nav-item mx-3">
                <a class="myLink" th:href="@{/view-sales}">View Sales</a>
              </li>
              <li class="nav-item mx-3">
                <a class="myLink" th:href="@{/startdiscount}"
                  >Discount System</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <main class="container nav-margin">
        <section class="w-75 mx-auto">
          <h1 class="text-white mt-5">Discount Programs</h1>
          <form
            th:action="@{/searchCode}"
            method="GET"
            class="d-flex my-4"
            role="search"
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search Discount Code"
                aria-label="Username"
                aria-describedby="basic-addon1"
                th:name="code"
              />
            </div>
            <button type="submit" class="myBtn">Search</button>
          </form>
          <p>
            To Cancel
            <a th:href="@{/rejectDiscount}" class="myLink"> Click here</a>
          </p>
          <h3 class="text-white">All Discount Codes</h3>
          <hr class="text-white" />
          <table class="table table-striped text-white">
            <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Discount Amount</th>
                <th scope="col">Quantity Left</th>
                <th scope="col">Validity</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="discount : ${discount}">
                <td th:text="${discount.code}" class="text-white">Eid123</td>
                <td th:text="${discount.amount}" class="text-white">50%</td>
                <td th:text="${discount.quantity}" class="text-white">5</td>
                <td
                  th:text="${#dates.format(discount.validity, 'yyyy-MM-dd')}"
                  class="text-white"
                >
                  26-12-2050
                </td>
                <td class="d-flex align-items-center">
                  <a
                    th:class="${discount.quantity == 0} ? 'disabled' : ''"
                    th:style="${discount.quantity == 0} ? 'color: red;' : 'color: blue;'"
                    th:href="@{/applydiscount{id}(id=${discount.id})}"
                    class="btn myLink-bg btn-sm me-3 text-white"
                    >Apply</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </main>
    </body>
    <main class="container nav-margin">
      <section class="w-75 mx-auto">
        <h1 class="text-white mt-5">Discount System</h1>
        <form class="text-white my-4">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Name"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Phone Number</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Phone Number"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Discount Code</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Discount Code"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Invoice Bill</label
            >
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Invoice Bill"
            />
          </div>
          <button type="submit" class="myBtn">Submit</button>
        </form>
      </section>
    </main>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"
  ></script>
</html>
