<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../resources/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../resources/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../resources/favicon-16x16.png">
    <link rel="manifest" href="../../resources/site.webmanifest">
    <link rel="mask-icon" href="../../resources/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="../../resources/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="../../resources/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>View Sales</title>
</head>

<body>
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary myBg-light fixed-top shadow"
    >
      <div class="container">
        <a class="navbar-brand me-5" th:href="@{/home}">
          <div class="d-flex">
            <span class="myLink fw-bold fs-3 mt-2">Miniso</span>
          </div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
            <li class="nav-item mx-3">
              <a
                class="myLink active"
                aria-current="page"
                th:href="@{/daily-entry}"
                >Daily Sales Entry</a
              >
            </li>
            <li class="nav-item mx-3">
              <a class="myLink" th:href="@{/view-sales}">View Sales</a>
            </li>
            <li class="nav-item mx-3">
              <a class="myLink" th:href="@{/startdiscount}">Discount System</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container nav-margin">
        <section class="w-75 mx-auto text-white">

            <form th:action="@{/view-sales}" method="post" class="text-white my-4">
                <form th:action="@{/view-sales}" method="post">

                    <label for="startDate">Start Date:</label>
                    <input type="date" id="startDate" name="startDate" th:value="${startDate}" required>

                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate" th:value="${endDate}" required>

                    <div>
                        <p>Interval:</p>
                        <input type="radio" id="daily" name="interval" value="daily" required>
                        <label for="daily">Daily</label><br>
                        <input type="radio" id="weekly" name="interval" value="weekly">
                        <label for="weekly">Weekly</label><br>
                        <input type="radio" id="monthly" name="interval" value="monthly">
                        <label for="monthly">Monthly</label><br>
                        <input type="radio" id="yearly" name="interval" value="yearly">
                        <label for="yearly">Yearly</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="#" th:href="@{/admin/view-graphs}" class="btn btn-secondary">Reset</a>

                </form>


                <div style="margin-top: 70px;" th:if="${datesSelected}" class="graph-container text-white">
                    <img th:src="@{/view-sales/intervalRevenue}" alt="Interval Revenue Graph" />
                </div>
                <table class="table table-bordered table-striped text-white" th:if="${datesSelected}">
                    <thead class="text-white">
                        <tr>
                            <th>Interval</th>
                            <th>Revenue</th>
                            <th>% Change</th>
                            <th>% Change From Base (<span th:text="${intervalStats[0][0]}"></span>) </th>
                        </tr>
                    </thead>
                    <tbody class="text-white">
                        <tr th:each="stat, statIndex : ${intervalStats}">
                            <td th:if="${interval} == 'daily'" th:text="${stat[0]}"></td>
                            <td th:if="${interval} == 'daily'" th:text="${stat[1]}"></td>

                            <td th:if="${interval} == 'weekly'" th:text="${stat[0]}"></td>
                            <td th:if="${interval} == 'weekly'" th:text="${stat[1]}"></td>

                            <td th:if="${interval} == 'monthly'" th:text="${stat[0]} + '/' + ${stat[1]}"></td>
                            <td th:if="${interval} == 'monthly'" th:text="${stat[2]}"></td>

                            <td th:if="${interval} == 'yearly'" th:text="${stat[0]}"></td>
                            <td th:if="${interval} == 'yearly'" th:text="${stat[1]}"></td>

                            <td th:text="${pcStats[__${statIndex.index}__]}"></td>
                            <td th:text="${pcBaseStats[__${statIndex.index}__]}"></td>
                        </tr>
                    </tbody>
                </table>

        </section>
    </main>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>

</html>